<header>
    <div class="header first ">
        <nav class="greedy">
            <div class="top navigation primary">
                <ul class="links clearfix">
                    <li class="home with-text"><a href="#"><span>首页</span></a></li>
                    <li class="left"><a href="#"><span>数列</span></a></li>
                    <li class="left"><a href="#"><span>三角函数</span></a></li>
                </ul>
                <button class="hidden" count="0">more</button>
                <ul class="hidden-links hidden"></ul>
            </div>
        </nav>
    </div>
</header>