<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Passbolt Help | Passbolt | Help</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.url }}/assets/css/help.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/highlight.css">
</head>

<body>
<div id="container" class="help page help-home background">
    {% include header.html %}
    <div class="panel main">
        <div class="panel left">
            <div class="navigation wizard" role="navigation">
                <ul>
                    <li>
                        <a href="https://help.passbolt.com/discover">Discover</a>
                    </li>

                    <li>
                        <a href="https://help.passbolt.com/start">Get started</a>
                    </li>

                    <li>
                        <a href="https://help.passbolt.com/hosting">Hosting</a>
                    </li>

                    <li>
                        <a href="https://help.passbolt.com/configure">Configure</a>
                    </li>

                    <li>
                        <a href="https://help.passbolt.com/contribute">Contribute</a>
                    </li>

                    <li>
                        <a href="https://help.passbolt.com/legal">Small print</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel middle">
            <div class="grid grid-responsive-12">
                <div class="row" id="introduction">
                    <div class="col12">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <div class="main-cell">
                                        <a href="https://www.passbolt.com"><span>home</span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="main-cell">
                                        <a href="#"><span>help</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {{content}}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
<script src="{{ site.url }}/assets/js/greedynav.js"></script>
<script type="text/javascript" async
        src="https://cdn.staticfile.org/mathjax/2.7.5/MathJax.js?config=AM_CHTML"></script>
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          CommonHTML: { linebreaks: { automatic: true } }
        });
</script>
</body>
</html>